# ===== KATALON GENERATED =====
.gradle/
bin/
Libs/
Reports/
Reports/**
output/
!output/.gitkeep
build/
.cache/
settings/

# ===== IDE / WORKSPACE =====
.classpath
.project

# ===== LOGS =====
*.log

# ===== OS FILES =====
.DS_Store
Thumbs.db
