# Default behavior: auto-detect text files and normalize to LF
* text=auto eol=lf

# Scripts
*.sh text eol=lf
*.bat text eol=crlf
*.groovy text eol=lf
*.rs text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.jar binary
*.zip binary
*.exe binary