# Biarkan Git otomatis detect, jangan paksa LF
* text=auto

# File yang HARUS LF
*.sh text eol=lf
*.groovy text eol=lf
*.rs text eol=lf

# File yang boleh CRLF
*.bat text eol=crlf

# Binary
*.png binary
*.jpg binary
*.jar binary